.DS_Store
*.swp
.vscode
.idea/

**/tmp/
**/target/
**/*.rs.bk
.wasm-binaries
rls*.log
**/Cargo.lock

!/Cargo.lock

**/node_modules

/protocol_impl/data/
/protocol_impl/log/
/protocol_impl/main.js

/squid/lib
/squid/builds
/squid/**Versions.json
/squid/**Versions.jsonl

/tools/session_keys.json
