.DS_Store
*.swp
.vscode
.idea/

**/tmp/
**/target/
**/*.rs.bk
.wasm-binaries
rls*.log
**/Cargo.lock

!/Cargo.lock

protocol_impl/data/
protocol_impl/log/
protocol_impl/main.js

tools/session_keys.json
